*, *::before, *::after {                                                                                 /* Default values: */
    box-sizing: border-box;                                                                                  /* Includes padding and border in elements for total width and height */
    margin: 0;                                                                                               /* set default margin to 0 */
    padding: 0;                                                                                              /* set default padding to 0 */
    font-family: 'Poppins', sans-serif;                                                                       /* font used (with metalink in HTML) */    
    color: white;                                                            
}

header {                                                                                                      /* for the header section...*/
    min-height: 100vh;                                                                                          /* make the content the full height of the viewport (i.e. full screen) */
    background: linear-gradient(to right, rgb(177, 178, 189), rgb(165, 168, 149));                          /* gradient from right grey to yellow*/
    z-index: -1;                                                                                               /* added for paralax functionality, this will set the header BELOW the section*/
}

.main-text {                                                                                            /* for the main text in the study (i.e. the h1 and h3 elements)*/
    position: absolute;                                                                                     /* set position to absolute so it can positioned anywhere you want */
    top: 50%;                                                                                               /* set vertical position */
    left: 20%;                                                                                             /* set horizontal position */
    transform: translate(-20%,-50%);                                                                         /* transform translate that matches positioning */
    z-index: 1;
}

.main-text > h1 {                                                                                          /* h1 styling inside .main-text */
    font-size: 80px;
    margin-bottom: 10px;
}

.main-text > h3 {                                                                                           /* h3 styling inside .main-text */
    font-size: 40px;
}


.kiwi {                                                                                                  /* For the kiwi image...*/
    position: absolute;                                                                                      /* set position to absolute (relative to the header) */
    height: 550px;                                                                                           /* set the image size to something manageable for the design */
    top: 40%;                                                                                                /* sets vertical position for the kiwi image */
    right: 12%;                                                                                              /* sets horizontal position for the kiwi image*/
    /* transform: translate(-10%, -30%);                                                                        transform applies 2d transformation to element, translate defines that 2d translation on x and y axis */
    z-index: 1;
}

.mango {                                                                                                  /* For mango image */
    position: absolute;
    height: 220px;
    top: 20%;
    right: 30%;
}

.apple {                                                                                                  /* for apple image */
    position: absolute;
    height: 350px;
    top: 20%;
    right: 50%;
}

section {                                                                                                  /* for the content section below the main parallax section*/
    min-height: 100vh;                                                                                       /* set the height to viewport height (70vh is 70% of the current viewport height for this element)*/
    background-color: #645757;
    display: flex;                                                                                           /* set the display*/
    justify-content: center;                                                                                  /* set text horizontally center */
    align-items: center;                                                                                     /* set text ver*/
}

section > h1 {
    font-size: 60px;
}



